@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/iconmoon/icomoon.ttf?7nfwu0') format('truetype'),
    url('../fonts/iconmoon/icomoon.woff?7nfwu0') format('woff'),
    url('../fonts/iconmoon/icomoon.svg?7nfwu0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e901";
} 